body{
    background-image: url("ssl.png");
    background-repeat: no-repeat;
}
h1{
    color: rgb(145, 144, 144);
}
h3{
    color: rgb(145, 144, 144);  
}
p{
color: rgb(255, 249, 249);
}
h3{
    color: rgb(145, 144, 144);
}
p{
    color: white; 
} 
h3{
    color: rgb(145, 144, 144);
}
h4{
    color: rgb(145, 144, 144); 
}
p{
    color: rgb(145, 144, 144);    
}
h4
{
    color: rgb(145, 144, 144);    
}
p{
    color: rgb(145, 144, 144); 
}